// blog feed 

// make our blogs wider - more content = more need for interface.



.blog, .single-post, .archive {

	.post {
		border-bottom: 2px solid darken(@dark, 5%);
		background: rgba(255,255,255,0.05);
		padding: 1.5em;


		@media screen and (max-width: 700px) {
			background: none;
			padding: 0;
		}
	}

	#inner-content {
		width: 100%;
		margin: 0 auto;
		
		position: relative;
		
		min-height: 100vh;

	}


	.article-header {
		img {
			width: 100%;
			height: auto;
		}
	}

	#main {
		width: 64%;
		max-width: 900px; // wider than we'll need
		margin: auto;
		position: relative;
		
		float: left;

		@media screen and (max-width: 700px) {
			float: none;
			margin-left: auto;
			width: 96%;
			
		}
	}


	#blog-sidebar {

		width: 30%;
		
		right: 0;
		margin-top: 0;
		position: fixed;

		@media screen and (min-width: 1000px) {
			right: 0;
			width: 300px;
			right: ~"calc(50% - 500px)";
		}

		@media screen and (max-width: 900px) {
			right: 0;
			left: auto;
			width: 30%;
		}

		@media screen and (max-width: 700px) {
			position: relative;
			width: 100%;
			left: 0;
		}
	}
}

.entry-content {
	padding: 1.5em 0;
}

.single-title, .page-title, .entry-title {
  margin:0;
}
.byline {
  color:@byline;
  font-style:italic;
  margin:0;
}