// blog feed 

// make our blogs wider - more content = more need for interface.



.blog, .single-post, .archive {

	.post {
		border-bottom: 2px solid darken(@dark, 5%);
		background: rgba(255,255,255,0.05);
		padding: 1.5em;


		@media screen and (max-width: 700px) {
			background: none;
			padding: 0;
		}
	}

	#inner-content {
		width: 100%;
		margin: 0 auto;
		
		position: relative;
		
		min-height: 100vh;

	}


	.article-header {
		img {
			width: 100%;
			height: auto;
		}
	}

	
}

.entry-content {
	padding: 1.5em 0;
}

.single-title, .page-title, .entry-title {
  margin:0;
}
.byline {
  color:@byline;
  font-style:italic;
  margin:0;
}