
// mostly this is setting variables to change the look of the site.


// ORNC STYLES


// COLOURS

@darkblue : #3b455e;
@lightblue : #687f91;
@off-lightblue : #8296A6;
@this-website: ~'http://ornc.local'; // this will have to change 

// We use generic colour names to imply something so set them here.  
@body-font : "ff-meta-web-pro";
@h-font :'Felix Titling W00';

@dark : @darkblue;
@light : @lightblue;
@lighter : @off-lightblue;

@med-dark : #506077;

// used for navigation, amongst other things.
@highlight : #fcd27c;
@highlight-text : @black;

@emphasis : @darkblue;
@emphasis-text: @white; // if @emphasis was a background etc.

@link-color : @highlight;

// general colour as a default - this just sets the body tag
@default-text : @lightgrey;

@byline: @lighter;


// CF7 Stuff
@formbg : @lightblue;

// Header Styles and sizes

//@lighter-grey; @white

@nav-highlight : @white;
@nav-highlight-text : @lightblue;

@nav-secondary-highlight : @light;
@nav-secondary-highlight-text : @white;


// carousel styles
@cycle-carousel-width : 100%;
@carousel-next-fa-icon : @fa-var-chevron-right;
@carousel-prev-fa-icon : @fa-var-chevron-left;
@skip-offset : 5%;
@skip-button-color : RGBA(255,255,255,0.8);
@carousel-aspect-ratio : (4 / 6);
@slide-background: @darkgrey;

@carousel-max-height: 600px;
@carousel-height: 600px; 



//mobile and headers stuff


@mobile-line-height: 14px;
@header-height-px : 60px;


@content-margin : 20px; // better than em because of positioning absolutes

// use mixins to make cleaner CSS, but keep the config here.

.body-style() {
	color: rgba(255, 255, 255, 1.0);
	background: @darkblue; // may want image.
}



.footer-style() {
	background: @lightgrey;


	a {
	  background:transparent;
	  text-decoration: none;
	  color:#8095CB;
	}
	a:focus {
	  outline:thin dotted;
	  color:#8095CB;
	}
	a:active {
	  outline:0;
	}
	a:hover {
	  outline:0;
	  color:#8095CB;
	}


	a:visited {
	  color:#8095CB;
	}
	a:hover, a:visited:hover, a:visited:focus {
	  color:#8095CB;
	}
	a:link, a:visited:link {
	  -webkit-tap-highlight-color:rgba(0,0,0,0.3);
	}
}




.header-style() {
	background: @lighter;
  height: @header-height-px;
  padding: (@header-height-px * 0.15) 0;
  position: fixed;
  top: 0;

   @media screen and (max-width: 700px) { 
      height: @header-height-px * 0.8;
   }
}


.admin-bar {
  .header {
    top: 32px !important;
  }


  #cta-sidebar {
    top: 32px !important;
  }

  #container {
    top: @header-height-px + 32px !important;
  }
}




.content-style() { // #content style
  margin-top: @content-margin + @header-height-px;

  @media screen and (max-width: 900px) {
      margin-top: @content-margin / 2;
  }

  @media screen and (max-width: 700px) {
  
    
    #main {
      //width: 92%;
    }
  }
}


@cta-sidebar-width : 15%;


// Media queries for central columns because of the CTA floating thingy

// We'll use #main as it's used in most template things.  generally should add th class though to elements.
#main, .max-central {
  .max-central-mixin();

  @media screen and (max-width: 1500px) {
      
      margin-right: @cta-sidebar-width * 1.2;
  }

  @media screen and (max-width: 1200px) {
      
      margin-right: auto;
      max-width: 100% - (@cta-sidebar-width) - 4%;
      margin-left: 1%;
  }

  @media screen and (max-width: 900px) {
      
      margin-right: auto;
      margin-left: auto;
      max-width: 90%; // creates padding;
  }

  @media screen and (max-width: 700px) {
  
    
    #main {
      //width: 92%;
    }
  }

}


#container {
  top: @header-height-px;
}



.page-template-template-home #content {
  margin-top: @content-margin;
}

.nav-li-style() {
  margin: 0; // it's coming from the right so the trailing margin is fine
  
  height: 100%;
  background: rgba(0,0,0,0.2); // debug

  border-right:2px solid transparent;
  background-clip: border-box; 

  a {
    padding: 5px 10px;
  }

  .sub-menu, .children {
     right: -2px !important; // account for the border
  }
  &:hover {
    border-right:2px solid RGBA(0,0,0,0.4);

    .sub-menu, .children {
      padding: 0;
      border-right:2px solid RGBA(0,0,0,0.4);
      border-bottom: 2px solid RGBA(0,0,0,0.4);
     
      background-clip: border-box; 
    }
  }
}


@mobile-cta-height : 100px;
.popup-styles() {
  // this is for the popup mobile menu: #popup-menu-container is this basically.  

  // because CTA exists:
  top: @header-height-px;

  padding-top: 5px;

  nav[role="navigation"] .nav > li {
    border-right: none !important;
  }

  ul {

      border-right: none !important;
      border-bottom: none !important;

  }


}

.nav-li-children-style() {
  margin: 0; // it's coming from the right so the trailing margin is fine
  
}

body {
	.body-style();
}


.nav-font-style() {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}



.full-width-background-maker(@color : RGBA(0,0,0,0.5)) {
	position: relative;
	padding-top: 2em;
	padding-bottom: 2em;
  margin: 3em 0;

  &:before {
    content: "";
    width: 4000px;
    left: -1000px;
    background: @color;
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: -1;
  }
}

#content {
	width: 100%;
}
#inner-content {
	
    .full-width-background {

      

      > h1, > h2, > h3, > h4 {
        margin-top: 0;
      }
      .alpha-color(@light, 0.35);
      .full-width-background-maker(@alpha-color);

      &.blue {
      	&:before {
      		//background: @blue;
      	}
      }

      & > h2 {
        margin-top: 0;
      }
    }

}