@media screen and (max-width: @tablet-break) {
	#wiki-menu {

		display:none;

		article {
			background:rgba(221, 221, 221, 0.2);
			padding:20px;
			margin-bottom:10px;
		}
		

		.right-arrow {
			font-size:20px;
			margin-left:40px;
			color:#918E8E;
			float:right;
		}
	}
}


/*Desktop Styles */

	#wiki-menu {
		height:800px;
		position:fixed;
		top:127px;
		overflow-y: scroll;
		width:23%;

	}

	#wiki-content{

		.wiki-text {
			background:green;

		}

		.section {
			max-height:30px;
			overflow:hidden;
		}

		.open {
  			padding: 20px;
   background: #ccc;
   max-height:0;
   overflow:hidden;
   -webkit-transition:max-height 1s;
   -moz-transition:max-height 1s;
   transition:max-height 1s;
}
}	
		}





