@media screen and (max-width: @tablet-break) {
	#wiki-menu {

		display:none;

		article {
			background:rgba(221, 221, 221, 0.2);
			padding:20px;
			margin-bottom:10px;
		}
		

		.right-arrow {
			font-size:20px;
			margin-left:40px;
			color:#918E8E;
			float:right;
		}
	}
}


/*Desktop Styles */

	#wiki-menu {
		height:800px;
		position:fixed;
		top:127px;
		overflow-y: scroll;
		width:23%;

	}

	#wiki-content{

		.section {
			max-height: 50px;
		 	overflow: hidden;
		  	background: #ccc;
		  	margin-bottom: 10px;
		  	padding: 15px;
		}

		.open {
		   background: #ccc;
		   -webkit-transition:max-height linear 0.5s;
		   -moz-transition:max-height linear 0.5s;
		   transition:max-height linear 0.5s;
		   max-height:600px;
		}
}	






